{%extends 'juego.html'%}

{%block juego%}
  <div id="memory"></div>
<script type="text/javascript" src="/static/js/GLOBAL/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="/static/js/GLOBAL/util.js"></script>
<script type="text/javascript" src="/static/js/Memory/memory.js"></script>
<link rel="stylesheet" href="/static/css/Memory/style.css">
  <script>
    var v = Array(3);
    v[0] = "Octocat.png";
    v[1] = "logo-la-buga.png";
    v[2] = "tour-cayac.jpg";
    var v2 = ['1.png','2.png','3.png','4.png','5.png','6.png','7.png','8.png','9.png','10.png',
              '11.png','12.png','13.png','14.png','15.png','16.png','17.png','18.png','19.png','20.png',
              '21.png','22.png','23.png','24.png','25.png','26.png','27.png','28.png','29.png','30.png'];
    //juego normal usando texto
    crearNuevoJuego("memory", v2, "/static/img/Memory/");
    
    //juego usando imágenes, no es posible elegir la dificultad cuando se le manda el número de 
    //cartas explícitamente (6)
    //crearNuevoJuego("memory", v, "", null, 6);
  </script>
{%endblock%}